<%= render :partial => 'gallery'%>
<script type="text/javascript">
    function checkForFile() {
        if (document.getElementById('file').value) {
            return true;
        }
        document.getElementById('errMsg').style.display = '';
        return false;
    }

    window.onload = function() {
        Shadowbox.open({
            content:'<form action="<%= @url %>" method="post" enctype="multipart/form-data" onsubmit="return checkForFile();">'+
                    '<div class="hiddenErrMsg">Woops! You forgot to locate your video.</div>' +
                    '<br><div class="whiteOnBlack"><%=t :select_file_for_upload%><input id="file" type="file" name="file"/>' +
                    '<input type="hidden" name="token" value="<%= @response.token %>"/></div>' +
                    '<br><div class="whiteOnBlack"><input type="submit" value="Submit"/></div></form>',
            player:     "html",
            title:      "<%=t :video_upload_form_title%>",
            modal:      true,
			animate: 	false,
            height:     400,
            width:      400
        });
    };
</script>
